.sidebarOption{
    display: flex;
    cursor: pointer;
}

.sidebarOption {
    gap: 20px;
    margin-left: 20px;
    margin-top: 20px;
}

.sidebarOption > h2{
    font-weight: 800;
    font-size: 20px;
    margin-right: 20px;
}

.sidebarOption:hover{
    background-color: var(--twitter-background);
    border-radius: 30px;
    color: var(--twitter-color);
    transition: color 100ms ease-out;
}

.sidebarOption--active{
    color: var(--twitter-color);
}